#!/bin/sh
# Copyright 2023 Benoît Stahl
# SPDX-License-Identifier: GPL-3.0+

case "$1" in
    build)
        ;;

    package)
	mkdir -p ${pkgdir}/etc/systemd/system
	cp -R potoo-ldap-phonebook.service ${pkgdir}/etc/systemd/system 
	mkdir -p ${pkgdir}/usr/local/bin
	wget -c https://github.com/benasse/potoo-ldap-phonebook/releases/download/v1.0.0/potoo-ldap-phonebook-v1.0.0-linux-amd64.tar.gz -O - | tar -xz -C ${pkgdir}/usr/local/bin/
        ;;

    install)
	openssl rand -base64 14  | { read val; sed -i "s/AeG5ahy4/$val/g" /etc/systemd/system/potoo-ldap-phonebook.service; }
	systemctl enable potoo-ldap-phonebook
	systemctl start potoo-ldap-phonebook
        ;;

    uninstall)
        systemctl stop potoo-ldap-phonebook
	systemctl disable potoo-ldap-phonebook
	rm -rf /lib/systemd/system/potoo-ldap-phonebook.service
	rm -rf /usr/local/bin/potoo-ldap-phonebook
	systemctl daemon-reload
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
